<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact us</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>

    <header>
        <div class="logo">DigiBistro</div>
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="aboutus.html">About</a></li>
                <li><a href="contactus.html">Contact</a></li>
            </ul>
        </nav>
        
    </header>
<section class="contct-us" section id="contact-us">
    <form class="contact-form">
        <h2>Contact Us</h2>
        <div class="form-group">
            <input type="text" id="name" name="name" required>
            <label for="name">Your Name</label>
        </div>
        <div class="form-group">
            <input type="email" id="email" name="email" required>
            <label for="email">Your Email</label>
        </div>
        <div class="form-group">
            <textarea id="message" name="message" rows="5" required></textarea>
            <label for="message">Your Message</label>
        </div>
        <button type="submit">Send Message</button>
    </form>
    
</section>

    
</body>
</html>